[2018-01-11 20:15] cwebber opened #2 "Should we pass resources to issuers / verifiers?"
The repository contains the resources for the json-ld contexts that are being used.  Nonetheless these aren't supplied to the issuers/verifiers so the issuers/verifiers need to supply those same contexts themselves.

I wonder if we should pass these to the issuers/verifiers or if it isn't worth it.  The only way I can think to do it is to pass a json dictionary like {context-uri: context-filename}

[2018-01-11 20:17] cwebber commented on #2
I guess potentially some issuers/verifiers won't even be using Linked Data Signatures or even paying attention to the documents as graph'y json-ld documents.  So maybe we should just expect applications to ship with these contexts themselves... I dunno?

[2019-03-19 10:28] yancyribbens opened #8 "how to deference example context"
test-suite input files contain example [contexts](https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/input/example-1.jsonld#L4) that don't resolve.  when producing the credential, [type
](https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/input/example-1.jsonld#L7) is dependant on the example context.  How should the producer dereference in a way that

[2019-03-20 16:04] BigBlueHat commented on #8
These should be expressed somewhere (at least in the test suite, if not as an appendix in the spec) such that an implementer can see both what an example context looks like, and how to use it within the testing framework.

[2019-03-20 21:15] yancyribbens opened #9 "Wrong content type and CORS headers not set"
I believe the content type is wrong for the required context: `https://w3.org/2018/credentials/v1`.  [Example test suite file](https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/input/example-1.jsonld) failes to load using the [json-ld playground](https://json-ld.org/playground/)

[2019-03-22 19:01] davidlehn commented on #9
You should be using this:
https://www.w3.org/2018/credentials/v1
Seems the non-www redirect isn't working via CORS.
That example won't process correctly since the other "example" context URL doesn't actually exist.

[2019-03-22 21:50] yancyribbens commented on #9
Thanks,  i'll put in a PR to fix: https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/input/example-1.jsonld#L3 for example.

Even though not including www does fix some issues by not redirecting, I think the content type should still be fixed.

[2019-03-23 09:24] yancyribbens commented on #9
PR to use `www` to avoid redirect is here: https://github.com/w3c/vc-test-suite/pull/10

[2019-04-09 15:11] yancyribbens commented on #8
@dmitrizagidulin is this something you can help with?

[2019-04-16 16:49] dmitrizagidulin commented on #9
Addressed by merged PR #10.

[2019-04-23 15:37] dlongley commented on #9
We need this header added at a minimum:

[code]

https://annevankesteren.nl/2012/12/cors-101

And I *think* that's it wrt to addressing the CORS issue.

[2019-04-23 18:14] yancyribbens commented on #8
The [context](https://www.w3.org/2018/credentials/examples/v1) now resolves.

[2019-04-23 18:15] #8 closed, assigned to nobody

[2019-04-26 19:47] brentzundel opened #14 "An example to follow would be really nice"
A VC implementation may successfully create conforming credentials, but how that implementation should interact with the test suite to prove itself is unclear.
The test suite could use better documentation (what precisely will be passed to the implementation by the test suite, what is the test suite expecting as output from the implementation, etc. ?)
A simple working example would also be very he

[2019-04-26 19:51] dmitrizagidulin commented on #14
Hey @brentzundel - copy that.
I've gotten the [`vc-js`](https://github.com/digitalbazaar/vc-js) lib to pass this test suite, so maybe I can include an example of how to run it, etc?

[2019-04-26 19:59] brentzundel commented on #14
That would be exceptionally useful. E.g., the extent of the instructions for the config.json file are to "modify it," so seeing an example of how such a thing ought to be done would be really great.

[2019-04-30 01:16] dmitrizagidulin commented on #14
@brentzundel Ok, so the general idea is this.

Essentially, the test suite says "I'm going to pass you this JSON credential, have you sign it or whatever (turn it into a VC), and then I'll check for two things: 1) you didn't mangle it, and 2) your lib throws errors when something is non-compliant with the data model."

The test suite _invokes_ a given library on a bunch of input credentials (all t

[2019-04-30 15:48] brentzundel commented on #14
I think this will help. I think it would be good to move these instructions to the readme, where we can continue to add clarification as more questions arise.

[2019-04-30 15:49] dmitrizagidulin commented on #14
Sounds good, will be moving this to the README.

[2019-05-10 11:05] yancyribbens opened #18 "Wrong content type"
The [example](https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/input/example-1.jsonld) `@context` has IRIs with the wrong content type.

Both `https://www.w3.org/2018/credentials/v1` and `https://www.w3.org/2018/credentials/examples/v1` have a content type
`content-type: application/octet-stream` and should be `content-type: application/ld+json`

[2019-05-10 11:08] yancyribbens opened #19 "JSON-LD context is Invalid JSON"
The context: `https://www.w3.org/2018/credentials/examples/v1` is invalid JSON.  If you paste the context into https://jsonlint.com/ the following parse error occurs:

[code]

[2019-05-10 19:16] brentzundel opened #20 "Test - @context MUST be one or more URIs (negative)"
This test passes for me (I get a green check mark) when I run it with `/bin/cat` as my credential processor (i.e. the test passes when the output is the input).
My assumption is that this should not be the case.
There seem to be two problems here:
1. The test passes even though my processor doesn't return an error
2. The test file `example-1-bad-cardinality.jsonld` seems to have good cardinality (

[2019-05-10 19:18] dmitrizagidulin commented on #20
@brentzundel Both issues are fixed in PR https://github.com/w3c/vc-test-suite/pull/15 - can you try running against that?

[2019-05-10 19:29] brentzundel commented on #20
Running against that I get the errors I expected. Any word on when we can merge #15?

[2019-05-10 19:31] dmitrizagidulin commented on #19
Thanks @yancyribbens. That needs to be fixed, at w3.org.

(Temporarily, you can find the correct credentials context over at: https://github.com/digitalbazaar/vc-js/blob/master/lib/contexts/vc-examples-v1.js )

[2019-05-10 19:31] dmitrizagidulin commented on #18
👍 , agree that this should be fixed. (Is preventing it being used with the JSON-LD playground, among other things.)

[2019-05-10 19:34] dmitrizagidulin commented on #20
@brentzundel Not sure. It's ready on my end (I don't have merge rights tho.)

[2019-05-10 19:36] brentzundel commented on #20
@msporny this issue can be closed once #15 is merged.

[2019-05-10 20:45] yancyribbens commented on #19
@dmitrizagidulin thanks that works!

[2019-05-10 21:32] msporny commented on #20
PR #15 is merged, closing.

[2019-05-10 21:33] #20 closed, assigned to nobody

[2019-05-10 22:29] brentzundel opened #21 "Timeout"
Timeout for tests seems to be set to 2000 ms
generating actual keys for CL signatures may take much much longer than this.
Can the timeout be changed?

[2019-05-13 17:14] dmitrizagidulin commented on #19
(Opened an issue on the vc-data-model repo)

[2019-05-13 20:39] brentzundel commented on #21
@dmitrizagidulin Do you know if this is possible?

[2019-05-13 21:59] dmitrizagidulin commented on #21
@brentzundel Right! So! You have a couple of options. You can override mocha timeouts from the commandline, so you can do something like (assuming you want 10 seconds):

[code]
(The extra `--` there in the middle is intentional).

The other thing to consider is - is generating fresh keys required for each run? It's fairly common to generate test keys once, and commit them to the test suite, and re

[2019-05-14 17:52] brentzundel opened #22 "Tests are checking for ISO8601"
The tests for date-time checking are using a regex for ISO8601. The spec requires date-times to adhere to RFC3339

[2019-05-14 20:23] brentzundel commented on #21
Thanks for the timeout instructions. That helps a lot.

As far as generating fresh keys for each run, the way our signatures work
requires a key to be generated for each attribute in the credential that is
to be signed. As the test json-ld input files do not all follow the same
schema, my program infers the schema from the input json-ld and generates
the necessary keys for signing.
In the real wor

[2019-05-17 13:38] aljones15 opened #23 "Missing copyright"
Files are not copyrighted

sorry for the nit pick =)
Apparently the copyright is needed for open source standards.
util.js has no copyright etc.

[2019-05-17 17:35] dmitrizagidulin commented on #23
@aljones15 Thanks, will add!

[2019-05-17 17:37] dmitrizagidulin commented on #21
@brentzundel Sounds like this has been resolved (per your email), feel free to close?

[2019-05-20 16:58] brentzundel commented on #21
Could this bit of information also be added to the README?

[2019-05-20 17:53] dmitrizagidulin commented on #21
@brentzundel Sure, good idea.

[2019-05-20 18:47] brentzundel opened #24 "example-5-bad-proof"
`example-5-bad-proof.jsonld` is supposed to fail because the proof is bad.
Before it can fail due to a bad proof, it fails due to a bad issuanceDate

meanwhile, `example-5-bad-proof-missing-type.jsonld` is completely blank.

[2019-05-20 21:28] brentzundel opened #26 "example input proof objects need type fields"
The type field is a MUST in the VC spec, so each proof field in the input example JSON-LD files needs to have a type (except where it explicitly shouldn't in order to test error handling of a proof object without a type field).

[2019-05-21 14:56] dmitrizagidulin commented on #22
+1, will change over to RFC3339.

[2019-05-21 15:30] dmitrizagidulin commented on #24
Fixed by #25, closing.

[2019-05-21 15:30] #24 closed, assigned to nobody

[2019-05-21 15:31] dmitrizagidulin commented on #26
Fixed by PR #27, closing.

[2019-05-21 15:31] #26 closed, assigned to nobody

[2019-05-21 21:01] brentzundel opened #28 "Report generation fails"
This is my terminal output when trying to run the report:

I was able to directly run the command:
`mocha --recursive test/vc-data-model-1.0/ "--timeout" "30000" -R json > implementations/report.json`

[2019-05-21 21:07] brentzundel opened #29 "README directions are incorrect"
The README directions for submitting an implementation report have some errors.
`4. Rename implementation/results.json to implementation/YOUR_IMPLEMENTATION-results.json.`
should be:
`4. Rename implementations/report.json to implementations/YOUR_IMPLEMENTATION-report.json.`

`5. git add implementations/YOUR_IMPLEMENTATION-results.json and submit a pull request for your implementation.`
should be:

[2019-05-21 21:27] brentzundel opened #30 "Report is non-specific in its categorization of tests"
The auto-generated report.json document only has *passed* and *failed* as results from tests. This is regardless of whether a MUST or a MAY was tested, or whether the feature was implemented or not implemented.
If my implementation does not provide `@context` it **does not** conform to the VC spec.
If my implementation does not provide `expirationDate` it **does** conform to the VC spec.
However,

[2019-05-21 21:36] ken-ebert commented on #30
I would add that the test report should indicate "not-implemented" separately from "failed".

[2019-05-22 19:52] ken-ebert opened #31 "Contained verifiable credential in a verifiable presentation is missing context."
In example-8.jsonld, the embedded verifiable credential contains no context. If the presentation validation software validates each embedded credential, the validation will fail.

would become something like

[2019-05-23 15:20] dmitrizagidulin commented on #31
@ken-ebert Excellent question.

This is on purpose. The general JSON-LD convention is that - embedded graphs (such as the verifiableCredentials) inherit the context of the outer envelope. So, presentation validation software will need to take the @context from the outer presentation.

[2019-05-23 15:22] dmitrizagidulin commented on #30
+1, agreed. As discussed in this past Tues call, this will be refactored to split the suites into more specific categories (VC vs VP, required vs optional, etc)

[2019-05-23 15:24] dmitrizagidulin commented on #28
@brentzundel Do you know why it failed via `npm run test`? Was it a timeout issue?

[2019-05-23 15:25] dmitrizagidulin commented on #29
Thanks for the catch, re typo. This'll be fixed along with the fix to issue #14.

(The purpose of step 6, `node generate.js` is to convert the report.json into html of the implementation report page)

[2019-05-23 17:02] dmitrizagidulin commented on #31
(This should be discussed further.)

[2019-05-23 17:08] brentzundel commented on #28
My assumption was that is was a timeout issue, because running the mocha command directly (with the timeout included) worked fine. But when I run the command:
`mocha --recursive test/vc-data-model-1.0/ -R json > implementations/report.json`
it also works fine. So now I'm not sure.

[2019-05-23 17:17] dlongley commented on #31
We should have VC processors reject the VCs inside a VP if `@context` is not present. It must be present.

If someone wants to run a JSON-LD processor and compact a VP (which will remove `@context` in an embedded VC) -- they may do so, but if they want that VP to be interoperable in the VC ecosystem, they must add the `@context` property back to the VCs within the VP. As a general principle, I thi

[2019-05-25 15:46] dmitrizagidulin commented on #29
Fixed by PR #33.

[2019-05-25 16:56] #29 closed, assigned to nobody

[2019-05-29 16:03] yancyribbens commented on #28
Confirmed report generation fails for me as well but worked fine when running `mocha --recursive test/vc-data-model-1.0/ -R json > implementations/report.json`

[2019-06-06 19:40] dmitrizagidulin commented on #31
Fixed by PR #37, closing.

[2019-06-06 19:40] #31 closed, assigned to nobody

[2019-06-09 08:15] yancyribbens opened #43 "test-suit should remain implementation agnostic"
The verifiable credential data model doesn't dictate a proof type or a specific ZKP implementation.  If implementers implement ZKPs that differ from the CL signature example, should the test suit for ZKPs fail?

[2019-06-09 10:43] #43 closed, assigned to nobody

[2019-06-10 15:57] yancyribbens opened #44 "ZKP verifiable credential"
How should the verifier know if a derived zkp verifiable credential is missing a credentialSchema as opposed to a non derived verifiable credential that does not require credentialSchema?

[2019-06-10 18:56] brentzundel commented on #44
For a derived zkp verifiable credential, the signature scheme may require additional information in order for a verifier to process it. The `credentialSchema` property is the standard way to provide this additional information. If it is absent, the verifier will not be able to process the credential signature.
If the verifier knows how to process the type of signature in a credential, they will al

[2019-06-10 19:03] brentzundel opened #45 ""node generate.js" results in "TypeError: Cannot convert undefined or null to object""
When running the shell command given on step 8, I received the following error:
[code]

[2019-06-10 19:05] yancyribbens commented on #44
Somewhat.  Is it true that [example-1.jsonld](https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/input/example-1.jsonld) is valid because it doesn't have a proof["signature"] and also doesn't contain `credentialSchema`, however [example-015-zkp-bad-no-credential-schema-id.jsonld](https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/input/example-015-zkp-

[2019-06-11 15:32] dmitrizagidulin commented on #44
From today's VCWG call:

One way to tell when the `credentialSchema` property is required is -- look at the `type` field in the `proof` section. If the type is a ZKP type (like the anon credential one), then the schema is required.

[2019-06-11 15:55] #44 closed, assigned to nobody

[2019-06-11 18:27] brentzundel commented on #45
Dmitri, let me know what next steps could be to troubleshoot this.

On Tue, Jun 11, 2019 at 9:27 AM Dmitri Zagidulin <notifications@github.com>
wrote:

[2019-06-11 18:44] TallTed commented on #45
Retitling this issue would be helpful. Perhaps `"node generate.js" results in "TypeError: Cannot convert undefined or null to object"`

[2019-06-11 20:46] ken-ebert opened #47 "Example input files contain embedded html for international language examples."
Examples input files that contain attribute/value pairs like:

should be changed to something like:

[2019-06-18 14:50] dmitrizagidulin commented on #47
Resolved by #48, closing.

[2019-06-18 14:50] #47 closed, assigned to nobody

[2019-06-25 09:41] mirceanis opened #54 "`proof` field in JWT encoding test is expected in wrong location when no-JWS is requested"

[2019-06-25 13:47] #54 closed, assigned to nobody

[2019-06-25 13:56] dmitrizagidulin commented on #45
Fixed in PR #57.

[2019-06-25 14:30] ken-ebert opened #59 "Passing tests against the testsuite are not correctly summarized in the report"
https://w3c.github.io/vc-test-suite/implementations/#conformance-testing-results
does not seem to include all the tests my implementation passed.
Only 1 of 9 ZKP tests shows as passing even though the implementation passed all ZKP tests at the last run of the tests.

[2019-06-25 14:43] dmitrizagidulin commented on #59
Next steps: fix HTML generation to reflect.

[2019-06-25 14:44] #45 closed, assigned to dmitrizagidulin, brentzundel

[2019-06-25 14:45] dmitrizagidulin commented on #30
Next steps: @dmitrizagidulin and Andrew Jones will address this week.

[2019-06-25 14:46] dmitrizagidulin commented on #28
Next steps: @dmitrizagidulin cannot reproduce, need to coordinate with @yancyribbens or @brentzundel to help debug.

[2019-06-25 14:47] dmitrizagidulin commented on #23
Next steps: @dmitrizagidulin to fix today.

[2019-06-25 14:48] dmitrizagidulin commented on #22
Next steps: @dmitrizagidulin to address this week.

[2019-06-25 14:49] dmitrizagidulin commented on #21
Timeout itself has been fixed/addressed, now just need to add comment to the README - @dmitrizagidulin to address today.

[2019-06-25 14:50] burnburn commented on #19
@burnburn to ask @ashimura about status

[2019-06-25 14:50] burnburn commented on #18
@burnburn to ask @ashimura about status.

[2019-06-25 14:51] burnburn commented on #9
@burnburn to ask @ashimura about status.

[2019-06-25 14:52] dmitrizagidulin commented on #14
Next steps: @dmitrizagidulin to move remaining text from issue comments to README this week.

[2019-06-25 14:53] dmitrizagidulin commented on #2
Addressed / no longer applies, closing. Please reopen if it's still an issue.

[2019-06-25 14:53] #2 closed, assigned to nobody

[2019-06-25 16:12] dmitrizagidulin commented on #23
Closed via PR #60.

[2019-06-25 16:12] #23 closed, assigned to dmitrizagidulin

[2019-06-25 16:41] aljones15 commented on #22
fixed this can not push to this repo.

[2019-06-27 18:45] dmitrizagidulin commented on #30
@brentzundel Ok, so, this should now be addressed in PR https://github.com/w3c/vc-test-suite/pull/64 . Please give the `refactor` branch a test run when you have a chance.

[2019-06-27 18:46] dmitrizagidulin commented on #59
@ken-ebert  This should now be addressed in PR https://github.com/w3c/vc-test-suite/pull/64 . Please give the `refactor` branch a test run when you have a chance.

[2019-07-02 12:59] dmitrizagidulin commented on #59
Fixed in PR #64, closing.

[2019-07-02 12:59] #59 closed, assigned to dmitrizagidulin

[2019-07-02 12:59] dmitrizagidulin commented on #30
Fixed in PR #64, closing.

[2019-07-02 12:59] #30 closed, assigned to dmitrizagidulin

[2019-07-02 13:00] dmitrizagidulin commented on #22
Fixed in PR #64, closing.

[2019-07-02 13:00] #22 closed, assigned to dmitrizagidulin

[2019-07-02 13:07] dmitrizagidulin commented on #28
Addressed in PR #66 (to avoid confusion, the README instructions now direct devs to use the `mocha` command directly instead of the `npm` script).
Closing.

[2019-07-02 13:07] #28 closed, assigned to nobody

[2019-07-02 13:13] dmitrizagidulin commented on #21
Fixed in PR #67, closing.

[2019-07-02 13:13] #21 closed, assigned to dmitrizagidulin

[2019-07-02 13:45] dmitrizagidulin commented on #14
Addressed in PR #68.

[2019-07-02 14:57] dmitrizagidulin opened #69 "Add feature sections to report's Table of Contents"
Update table of contents on the implementations report.

[2019-07-02 14:58] dmitrizagidulin opened #70 "Add key/legend for test statuses"
Add key/legend section for test results (check, X, untested, etc)

[2019-07-02 16:42] #14 closed, assigned to dmitrizagidulin

[2019-07-02 20:15] ken-ebert opened #73 "Indicating 'refresh' not-supported in config.json causes 'status' tests to not run."
My config.json contains:

This causes the status tests to be skipped.

[2019-07-03 17:12] dmitrizagidulin commented on #73
Thanks @ken-ebert, should be fixed now by PR #74 / #79 .

[2019-07-03 17:12] #73 closed, assigned to nobody

[2019-07-23 07:44] deiu opened #86 "Add links to repos for public implementations"
The current implementation report does not contain links to current (public) implementations. I would like to invite everyone to also provide a link to the corresponding repo when submitting test results. This would help a lot with transparency regarding W3C process and CR requirements.

Please feel free to reply to this issue and I'll put together the list.

[2019-07-23 14:10] dmitrizagidulin commented on #86
Good point, agreed.

[2019-08-13 14:47] dlongley commented on #9
This appears to be resolved:

[code]

[2019-08-13 14:48] dlongley commented on #18
This appears to be resolved:

[code]

[code]

[2019-08-13 14:54] #9 closed, assigned to ashimura

[2019-08-13 14:54] #18 closed, assigned to ashimura

[2019-08-13 14:54] #19 closed, assigned to ashimura

[2019-08-13 14:55] dmitrizagidulin commented on #70
Added in PR #90, closing.

[2019-08-13 14:55] #70 closed, assigned to nobody

[2019-08-13 19:11] TallTed commented on #70
Also commented on #90 ... probably better here.

[2019-08-14 17:58] nadalin opened #95 "vc-test-suite"
Trying to figure out the test-suite and be able to run this on my implementation, I see the follow statement
"1) encoded as standard JOSE header parameters, 2) encoded as registered JWT claim names, or ..."

I have no idea what "registered" means and where would one register and why I have to register my JWT claims?

[2019-08-14 18:21] nadalin commented on #95
I don't understand this test

" verifiable credential ... To encode a verifiable credential as a JWT, specific properties introduced by thisspecification MUST be either ...3) contained in the JWS signature part... If only the proof attribute is used, the alg header MUST be set to none."

Why MUST the alg header be set to "none" does not make sense

[2019-08-14 18:46] David-Chadwick commented on #95
This refers to the IANA registered JWT claim names. These are the only ones for which encode/decode transformational rules are defined in the VC data model.

[2019-08-14 18:53] David-Chadwick commented on #95
This is because a VC could be signed by a JSON-LD signature, or a JWS or both. The proof attribute is used for the former and is omitted for JWS. In the case being referred to, there is a JSON-LD proof with no choice of algorithm, and no JWS, but a JWT is still being created. So the alg header is set to none.

[2019-08-14 18:56] nadalin commented on #95
@David-Chadwick Why do the claim names have to be registered as it's not at all clear in the test that this only applies to the claims that are transformed. It's not also clear from the specification either that this is the case

[2019-08-14 18:58] nadalin commented on #95
And what is the JWS Signature Value set to ?

[2019-08-14 21:55] nadalin commented on #95
One of the JWT tests says "alg MUST be used for RSA and ECDSA-based digital signatures" the specification says it must be set, so test case should be just test for a registered alg value under all cases.

[2019-08-20 13:34] dmitrizagidulin commented on #86
(Leaving this open while new links trickle in. We have some links now, waiting on the other ones.)

[2019-08-20 14:12] dmitrizagidulin commented on #69
Updates to HTML fro PR #94 do not seem to re-generate the Table of Contents, need to consult a ReSpec expert (in progress).

[2019-08-20 15:52] brentzundel commented on #95
As this issue relates to the test suite, it would be best to raise this issue there. https://github.com/w3c/vc-test-suite

[2019-08-20 15:56] burnburn commented on #95
In 20 Aug 2019 call:

RESOLVED: The WG believes that issue w3c/vc-data-model#713 is a question related to the test suite and the issue belongs in that repository and this will be deferred until another group picks up the specification and associated test suites.

[2019-08-20 15:59] nadalin commented on #95
@burnburn This has to deal with implementing the specification and testing the specification, thus I believe it belongs here

[2019-08-21 14:02] TallTed commented on #95
@nadalin - You have suggested that a change should be made to a test case, not to the specification. Thus, your issue belongs on [the test suite](https://github.com/w3c/vc-test-suite), where that test case is found, not on the specification.

[2019-08-22 20:22] nadalin commented on #95
@burnburn Someone with admin can transfer this issue over so as not to loose the thread

[2019-08-22 20:24] burnburn commented on #95
Attempting to use GitHub's new transfer feature . . .

[2019-08-27 15:11] dmitrizagidulin commented on #95
@mirceanis or @awoie - do you have any comments on this?

[2019-10-03 12:48] kdimak opened #96 ""bad @context cardinality" test"
Could you please explain the meaning of `@context` bad cardinality check from `basic` group? I just cannot understand what's wrong with this definition of VC (from **example-1-bad-cardinality.jsonld):**
[code]

[2019-10-03 12:48] kdimak opened #97 ""bad type cardinality" test"
Could you please explain the meaning of `type` bad cardinality check from `basic` group? It's defined at **example-3-bad-cardinality.jsonld** as following:
[code]

From the other hand, the same `type` definition can be found in several other test cases, e.g. in `example-016-jwt.jsonld` which should be processed with no error.

[2019-10-03 12:57] kdimak opened #98 "jwt test generator options are applied to the following zkp ones"
As a result, the following flags are passed to a generator for `zkp` tests:
- `--jwt`
- `--jwt-aud`
- `--jwt-presentation`

[2019-10-03 13:52] TallTed commented on #96
I believe that `@context` should not be an array since it has a single member.  In other words, this --
[code]
-- should be --
[code]

[2019-10-03 14:17] dlongley commented on #96
That example should include a second context that defines the terms used in the VC (such as `AlumniCredential`) that are not present in the base context.

[2019-10-03 14:55] llorllale commented on #97
The cardinality of `type` should reflect (not necessarily equal!) that of `@context`:

Since this document includes an additional context ("...examples/v1"), and since `VerifiableCredential` is already defined in the standard context for VCs, then it is expected that `type` be an array and have one more element for a type defined in "...examples/v1".

That said, I'm not sure this test case is set

[2019-10-03 14:57] llorllale commented on #96
@dlongley how can an implementation reasonably deduce the correct context in this scenario?

[2019-10-03 15:21] dlongley commented on #96
@llorllale,

Real world implementations will do more than just check the data model (they will verify proofs, etc.). They may, for example, either use JSON-LD to detect that that certain terms are undefined or have an API that allows callers to specify known/expected contexts and types. So, such an implementation would not be guessing, but would rather be relying on JSON-LD processing or parameter

[2019-10-03 15:23] dlongley commented on #97
See: https://github.com/w3c/vc-test-suite/issues/96#issuecomment-537992894

[2019-10-03 18:35] llorllale commented on #96
@dlongley can you please clarify on this:

Do you mean the test should just ensure that when `@context` is an array:

a. the order of `@context` is preserved
b. the first element of `@context` is "https://www.w3.org/2018/credentials/v1"
c. `type` should also be an array, and
d. the first element of `type` should be "VerifiableCredential"

?

[2019-10-03 19:39] dlongley commented on #96
For a VerifiableCredential:

1. If `@context` is an array, the first element must be `https://www.w3.org/2018/credentials/v1` and order is preserved. If `@context` is a string, it must be `https://www.w3.org/2018/credentials/v1`.
2. If `type` is an array, `VerifiableCredential` must be present and should be the first element, but the array is considered an unordered set. If `type` is a string, it

[2019-10-25 17:23] dckc commented on #86
I was about to raise a "what do the columns represent?" issue, but perhaps this issue is close enough.

Please add some prose about what the columns represent. Are they pieces of software? The link to https://github.com/decentralized-identity/did-jwt-vc suggests yes, though originally I thought perhaps they were perhaps collections of claims documents submitted by some source, and the rows were ev

[2019-10-25 17:29] dckc opened #99 "any tests show interop between implementations?"
Are there any tests that show a credential issued by one of the implementations and checked by another?

Perhaps the answer is "all of them"? If so, are the credential documents checked in anywhere? If not, would you please share an example and explain how I could reproduce the results?

I'm trying to understand what sort of market is established by this spec. To what extent should I expect creden

[2019-10-28 22:06] brentzundel commented on #99
The test suite only checks adherence to the data model. As you are aware, this is only part of the system.
Theoretically, any implementation that complies with the data model will be able to understand any other credential that complies with the data model. That is, the semantic meaning of each of the claims in the credential should be understandable.

Verification of these credentials is, unfortu

[2019-10-31 00:20] dckc commented on #99
Am I reading that right? W3C charters a Verifiable Claims Working Group and doesn't think this sets an expectation of interoperability for verification of claims? Bizarre!

And yet [the charter](https://www.w3.org/2017/vc/WG/charter.html) does seem to suggest some approaches to it are out of scope. But the [problem statement in the primer](https://w3c.github.io/webpayments-ig/VCTF/primer/#problem)

[2019-10-31 01:06] msporny commented on #99
Hey @dckc, since you're familiar with this space, here's the real answer -- there were standards politics at play that prevented the group from specifying one mandatory digital signature mechanism. The non-politics part of that discussion was based on a requirement that some digital signature schemes were good for some use cases and bad for others. If you put the digital signature mechanisms to th

[2019-10-31 01:15] dckc commented on #99
So the concerns I'm raising were known at chartering time and the decision was to move forward anyway.

I'm tempted to object to the proposed rec anyway on the grounds that the title of the WG, if no the spec, sets expectations that it doesn't meet and hence this is a poor use of W3C's good name.

But I guess this isn't a hill I'm willing to die on. And I suppose there's a possibility that this sp

[2019-10-31 01:15] #99 closed, assigned to nobody

[2019-10-31 01:22] dckc commented on #99
p.s. My real issue is that interoperability between blockchain platforms involves a lot more than strings (DIDs) and JSON blobs (claims) and that W3C shouldn't be pretending otherwise.

I suspect ocaps and mobile code are necessary and sufficient... a la [Agoric's JS smart contracts and IBC](https://agoric.com/agoric-interchain-collaboration-inter-blockchain-communication-protocol/). But maybe dat

[2019-10-31 01:34] msporny commented on #99
The concerns were known and a way forward that moved us toward the goal achieved consensus. Was the charter or outcome ideal? No... but standards development is far from an ideal processes with ideal outcomes. Because of the work, the US Government (and other global governments) are pushing private industry to adopt the standard and demonstrate interop... there are other market forces at work here

[2019-11-18 16:31] kdimak opened #101 "Correct JWK for decoding JWTs tests"
What is correct JWK for the decoding JWS into the credentials data model tests (`--jwt-decode` parameter), `example-016-jwt.jwt`? It's RS256 but the one defined at `config.json.example` is not valid:
[code]

[2019-12-17 00:14] troyronda commented on #101
@peacekeeper @awoie Do you know which key was used to sign `example-016-jwt.jwt`?

[2019-12-18 18:44] awoie commented on #101
@troyronda @kdimak the tests don't assume that the generator verifies the JWT, so you won't need the public key. The output should be a credential without a `proof` property. This is a data model test suite and the group agreed to not test the cryptographic proofs themselves.

[2019-12-18 18:49] troyronda commented on #101
@awoie The JWT structure contains a normal JWS signature - is this JWS signature also not being validated in the test case?

[2019-12-18 18:50] awoie commented on #101
@troyronda Exactly, the JWS is not validated.

[2019-12-18 18:51] awoie commented on #101
@troyronda However, the JWT must be a valid JWT (JWS in compact serialization) by following the `<header>.<payload>.<signature>` convention.

[2019-12-18 21:00] awoie commented on #101
@kdimak @troyronda Can we close this issue?

[2019-12-19 14:10] kdimak commented on #101
@awoie makes sense for me, thank you.

[2019-12-20 22:15] kdimak commented on #101
@awoie unfortunately, the VC inside JWS (`example-016-jwt.jwt`) is buggy:
[code]
as the first context must be `https://www.w3.org/2018/credentials/v1` (https://w3c.github.io/vc-data-model/#contexts).
And here `www` is missing (currently the context is `https://w3.org/2018/credentials/v1`).

Can we apply https://github.com/w3c/vc-test-suite/pull/102 where the `@context` has correct values?

[2019-12-20 22:25] kdimak opened #103 "Invalid base context in example-016-jwt.jwt"
When decoded, VC inside JWS (example-016-jwt.jwt) is incorrect:
[code]
as the first context must be `https://www.w3.org/2018/credentials/v1` (according to https://w3c.github.io/vc-data-model/#contexts).
And here `www` is missing (currently the context is `https://w3.org/2018/credentials/v1`).

[2019-12-20 22:26] kdimak commented on #103
@awoie Can we apply #102 where the @context has the correct value?

[2019-12-20 22:27] kdimak commented on #101
@awoie filed a separate issue #103
we can close the current issue

[2020-04-29 11:44] lucaalbinati opened #104 "Support for verification of signed Verifiable Credential"
Hello,

I've currently finished integrating this test-suite to my implementation of W3C VerifiableCredentials.
However, I'm also interested in finding out if my implementation signs a VC correctly. And if a signed VC from my implementation can be verified by someone else.

I'm searched online for libraries that would do such a thing and I've found a few that seem promising. However, they all diffe

[2020-04-29 19:49] David-Chadwick commented on #104
Hi Luca

if you use JWT proofs then a good tool for checking the JWT overall is

https://jwt.io/

However, in terms of signature checking, it works if you can give it the
public key in PKCS format, but not if the key is in the kid field only.

Kind regards

David

On 29/04/2020 23:45, Luca Albinati wrote:

[2020-04-30 06:46] lucaalbinati commented on #104
Hello David,

Thank you for reaching back.
Although I am aware that such tools exist, I feel like it would still be beneficial for W3C to offer an official test-suite, or at least to promote an already existing one (jwt.io for example). This is why I was asking **if this was something W3C had thought about**, and if so, what decision was reached?

[2020-08-18 14:51] lemoustachiste opened #105 "Clarification on the different test suites"
Hi,

I was able to run and test against our current implementation of VC. But I was just curious about the various tests suite, especially `refresh`, `evidence`, `status`, `tou` etc.

Our implementation does not explicitly deal with these items, but the tests are correctly passing. So my question is, are these tests with the sole purpose of ensuring that these properties are not dropped when the V

[2020-08-21 16:27] clehner opened #107 "Outdated curve id in example JWT config"
The ES256K private key in [config.json.jwt.example](https://github.com/w3c/vc-test-suite/blob/be4fa54e8dec39b3e8a49e6f6e36fc2659bde3ae/config.json.jwt.example) uses curve "P-256K", which is not in [RFC 7518](https://tools.ietf.org/html/rfc7518) or the [JSON Web Key Elliptic Curve registry](https://www.iana.org/assignments/jose/jose.xhtml#web-key-elliptic-curve).

[COSE and JOSE Registrations for W

[2020-08-27 16:34] clehner commented on #98
This makes it difficult to test `zkp` and `jwt` in the same run.

It is because the `jwt` tests mutate the options object:
https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/50-jwt.js#L68

Workaround: disable jwt tests when testing zkp, and vice versa. i.e. test twice with different values for `sectionsNotSupported` in `config.json`: one with `["jwt"]`, and one with `["zkp"]

[2020-10-05 14:58] lemoustachiste opened #109 "Is this test actually valid?"
Hi,

so I am working to move our library to compliance with the VC standard.
The second test of the `basic` suite is `@context MUST be one or more URIs (negative)` https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/10-basic.js#L39, and the fixture only has one value in the array https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/input/example-1-bad-car

[2020-10-06 15:12] lemoustachiste commented on #109
I think this partially answers my question: https://github.com/w3c/vc-test-suite/issues/96. However digging into these negative tests show some inconsistencies between the test suite and the spec, and it's not clear what is the source of truth in those cases.

[2020-10-06 15:12] #109 closed, assigned to nobody

[2020-10-15 19:43] clehner opened #110 "Unmaintained dependency"
This test suite uses [did-auth-jose](https://github.com/decentralized-identity/did-auth-jose), which is no longer maintained. Its readme recommends against using it: https://github.com/decentralized-identity/did-auth-jose/commit/2e39867bccfedb50d0d5e7cd00f545d44d316ac8

[2021-01-12 21:52] clehner opened #112 "Presentation without verifiableCredential"
The following are negative cases for a `VerifiablePresentation` without `verifiableCredential`:
- `example-8-bad-missing-verifiableCredential.jsonld`
- `example-015-zkp-vp-bad-missing-verifiableCredential.jsonld`

But the [Verifiable Presentation Request Specification](https://github.com/w3c-ccg/vp-request-spec) has an example DID Authentication response which is a `VerifiablePresentation` without

[2021-01-13 02:26] kimdhamilton commented on #112
+1. I agree with your interpretation that the `verifiableCredential` property is optional, and that this is useful for proving control over a DID, as in https://w3c-ccg.github.io/vp-request-spec/#example-4-a-didauth-response

[2021-03-10 12:10] peacekeeper commented on #96
I think this can be closed?

[2021-03-10 12:39] peacekeeper commented on #97
I agree with @clehner on this. The VC in https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/input/example-3-bad-cardinality.jsonld is valid per the data model and therefore it should not be used for a "negative" test in https://github.com/w3c/vc-test-suite/blob/gh-pages/test/vc-data-model-1.0/10-basic.js#L89.

[2021-03-31 14:34] #96 closed, assigned to nobody

[2021-03-31 14:34] #97 closed, assigned to nobody

[2021-03-31 14:34] #98 closed, assigned to nobody

[2021-03-31 18:46] clehner opened #118 "Auto-generate implementations page"
Any concurrent PRs updating implementation reports cause a merge conflict in `implementations/index.html`. Could we use an Actions workflow to build the `index.html` from the main branch and commit it to `gh-pages`, so that `index.html` could be removed from the main branch and remove this source of merge conflicts?

[2021-03-31 23:26] brentzundel commented on #118
This sounds like a great idea

[2021-04-01 13:19] #112 closed, assigned to nobody

[2021-05-27 01:33] cavacado opened #122 "Templating issue in test results"
Hi there,

First of all thank you for implementing and providing guidance to  use this particular test-suite, I really appreciate all the hard work you guys have done.

I would like to raise an issue on the generated template for the test suite.
Specifically, I would like to direct your attention to the `Basic Documents` section itself.

There are certain test cases that "do not belong" there, and

[2021-09-07 12:14] stefan2904 commented on #86
I also think it makes sense to reference the evaluated implementations somewhere in the report.

One reason for this is that there are at least two implementations that call themselves "verifiable-credential-java". ;-)

It also might make sense to reference the evaluated version, git commit, or something like that.

[2021-12-27 19:54] lamjay2704 opened #124 "New"

[2022-01-03 17:10] msporny commented on #124
Empty issue, closing.

[2022-01-03 17:10] #124 closed, assigned to nobody

[2022-01-19 23:08] brentzundel opened #126 "[Tracking Issue - Proposed Corrections Feedback] Test suite improvements are needed"
@jyasskin I've raised this issue to track the WG response to the feedback you provided on the test suite and to track the work required to address the limitations you've uncovered.

From [feedback on VC Data Model v1.1](https://lists.w3.org/Archives/Public/public-new-work/2022Jan/0002.html)
[code]

@clehner has volunteered to work on this, but assistance from others is also welcome.

[2022-01-27 07:40] iherman commented on #126
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-01-26-vcwg#section5-1) on 2022-01-26

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 5.1. [Tracking Issue - Proposed Corrections Feedback] Test suite improvements are needed (issue vc-test-suite#126)

_See github issue [vc-test-suite#126](https://github.com/w3c/vc-t

[2022-02-03 00:44] bumblefudge commented on #126
I volunteered last week to help scope or specify the requirements here, but I have to cry uncle and request additional assistance because I'm having even more trouble than Charles understanding the scope of

Which of the following need to be included in the test vectors to say we have fully addressed this?

A.) How many of the following have to be represented as valid (positive-case) values for a

[2022-02-03 07:38] iherman commented on #126
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-02-02-vcwg#section4-1) on 2022-02-02

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. [Tracking Issue - Proposed Corrections Feedback] Test suite improvements are needed (issue vc-test-suite#126)

_See github issue [vc-test-suite#126](https://github.com/w3c/vc-t

[2022-02-03 17:17] jyasskin commented on #126
The above discussion matches my impression that this probably can't be fixed before 2.0. The large number of 'MAY' constraints add up to a spec that says that interoperability might or might not be achieved between the actual implementations. Since the purpose of a REC is to ensure that implementations are interoperable, that's a problem. But it's not a problem we expect you to be able to fix unde

[2022-02-03 18:37] brentzundel commented on #126
I agree that the bulk of the changes mentioned in this thread will need to happen in the next WG under v2.0.

My question to @msporny @clehner @bumblefudge: has the test suite been updated to reflect the normative corrections we made in v1.1? If not, imo that is the scope of work that needs to be undertaken at this point.

[2022-02-03 22:53] clehner commented on #126
Two PRs are open for this: #123 for the URL/URI changes, and #127 for the ZKP changes. The test suite still refers to VC Data Model 1.0 though - e.g. the test directory name [test/vc-data-model-1.0](https://github.com/w3c/vc-test-suite/tree/gh-pages/test/vc-data-model-1.0).  Should a new copy be made for 1.1, or the current one renamed in-place?

I agree it looks like a change in methodology may b

[2022-02-09 17:20] iherman commented on #126
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-02-09-vcwg#section4-1) on 2022-02-09

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 4.1. [Tracking Issue - Proposed Corrections Feedback] Test suite improvements are needed (issue vc-test-suite#126)

_See github issue [vc-test-suite#126](https://github.com/w3c/vc-t

[2022-02-14 17:48] OR13 opened #134 "Evidence extension point (was: Improve tests for Evidence)"
See https://www.w3.org/TR/vc-data-model/#evidence

`DocumentVerification2018`...

this tremendously poorly defined and should be defined for all serializations or removed.

Ideally we would have a test suite that shows how this property supports interoperability, and that suite would cover popular feature such as identity assurance in sufficient detail.

[2022-02-14 17:48] OR13 commented on #134
cc @bumblefudge

[2022-02-14 20:12] jandrieu commented on #134
Please do not remove this.

There are some use cases where providing evidence of the pre-issuance DID auth is exceptionally valuable.

This property is meant to be an extension point and we should keep it as such.

[2022-02-14 22:33] OR13 commented on #134
@jandrieu can you point to examples of this extension that are being used in the wild today?

I know folks have been considering it, we should gather evidence that it's being used or being considered, and if we can't we should try and remove it to simplify the spec.

[2022-02-14 22:45] jandrieu commented on #134
I can't, today, speak publicly about either of the two initiatives I know of who are expecting this capability.

What I will say is that without evidence of having performed did-auth embedded in the VC itself, we have no mechanism to verify whether or not the issuer, in fact, proofed control of the DID before issuance. For those subject=holder use cases that rely on the verifier to compare the VP

[2022-02-14 23:23] OR13 commented on #134
I think @selfissued also knows of some folks considering this feature, we should strive to get it covered in the test suite, if it really is being used.

[2022-02-17 06:04] iherman commented on #126
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-02-16-vcwg#section2-1) on 2022-02-16

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

#### 2.1. [Tracking Issue - Proposed Corrections Feedback] Test suite improvements are needed (issue vc-test-suite#126)

_See github issue [vc-test-suite#126](https://github.com/w3c/vc-t

[2022-02-23 17:14] iherman commented on #126
The issue was discussed in a [meeting](https://www.w3.org/2017/vc/WG/Meetings/Minutes/2022-02-23-vcwg#section3) on 2022-02-23

- no resolutions were taken

<details><summary><i>View the transcript</i></summary>

### 3. test suite feedback.

_See github issue [vc-test-suite#126](https://github.com/w3c/vc-test-suite/issues/126)._

**Brent Zundel:** can someone give us an update on this?.

**Manu Spo

[2022-05-23 12:36] lamjay2704 opened #129 "The current Process delegates full authority to the Director in making decision to sign Memoranda of Understanding; the only option for the Membership to disagree is through the appeal process. In particular, the process doesn't call for any prior engagement from the Team with the Membership prior to signing such an MoU."
The current Process delegates full authority to the Director in making decision to sign Memoranda of Understanding; the only option for the Membership to disagree is through the appeal process. In particular, the process doesn't call for any prior engagement from the Team with the Membership prior to signing such an MoU.

As we're moving towards Director-free, and given recent experience where the

[2022-05-23 12:36] #129 closed, assigned to nobody

[2022-05-27 21:43] albertoEnstein commented on #129
Wait